.tg {
    width: 860px;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
}

.tg .tg-4eph {
    background-color: #f9f9f9
}

.fm {
    margin-left: 5px;
}

.error {
    font-size: 12px;
    color: #ff0000;
}

.paginator {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:link {
    color: #006cb5;
}

a:visited {
    color: #006cb5;
}

a:hover {
    color: #ff0030;
}

.actionsBlock {
    width: 860px;
    overflow: hidden;
}

.searchBlock {
    float: left;
}

.addEditBlock {
    float: right;
    width: 320px;
}

hr {
    width: 860px;
    float: left;
}